.home-container{
    position: fixed;
    margin-top: 4rem;
    width: 100%;
    height: 41.6rem;
    background-image: url("../images/wallpaper2you_149924.jpg");
    background-size: cover;
}
.heading{
    margin-top: 7rem;
    margin-left: 20rem;
    color: white;
    font-size: 3rem;
}
p{
    margin-top: 5rem;
    margin-left: 5rem;
    color: aqua;
    font-size: 2rem;
}